<header class="site-header">
	<div class="container">
		<a class="siteLogo" href="/index.html" title="Quién te financia?">Quién te financia?</a>
		<div id="bajada-logo">CiudadanoInteligente.org</div>
	</div>

	          <div class="col-md-2 redes">
            <ul class="list-unstyled list-inline">
              <li class="redes">
                <a href="#" onclick="window.open(&quot;//twitter.com/share?url=http://quientefinancia.cl/&amp;via=ciudadanoi&amp;text=Ciudadano Inteligente te explica la nueva Ley de Financiamiento Electoral&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
                    <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </span>
                </a>
              </li>

              <li class="redes">
                <a href="#" onclick="window.open(&quot;//www.facebook.com/sharer/sharer.php?u=http://quientefinancia.cl/&quot;,&quot;facebook&quot;,&quot;width=450, height=250&quot;)">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
</header>