<header class="site-header">
	<div class="container">
		<a class="siteLogo" href="/index.html" title="Quién te financia?">Quién te financia?</a>
		<div id="bajada-logo">Ciudadanía Inteligente</div>
      <ul class="list-unstyled list-inline">
        <li class="redes">
          <a href="https://twitter.com/ciudadania_i">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
          </a>
        </li>

        <li class="redes">
          <a href="https://www.facebook.com/ciudadaniai/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          </a>
        </li>
      </ul>
  </div>
</header>
