$celestino : #73c4cd;
$rogelio : #ee4538;
$rubio : #fab01c;
$pinky: #d33170;

/**/
html body {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  background-color: #27245F;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
}

.site-header {
  min-height: 70px;
    background: #1F1B50;
    padding:10px;
    z-index: 1;

    /* Positioning context for the mobile navigation icon*/
    position: relative;
}

.siteLogo{
  background: url(../img/logo-qtf.png) no-repeat 0 0 transparent;
  background-size: 200px 64px;
  height: 65px;
  display: block;
  width: 203px;
  text-indent: -99999px;
  float: left;
}

div#bajada-logo {
  float: left;
  margin-top: 43px;
  color: #7F7FA3;
  margin-left: -120px;
}

footer {
  background:#171C36;
  padding: 60px 0;
  color: #FFFFFF;
}
/**/

#aporte-01 {
  background-color: #171c36;
}

span.txt-celestino {
  color: $celestino;
}

span.txt-rogelio {
  color: $rogelio;
}

span.txt-rubio {
  color: $rubio;
}

#aporte-02 {
  background-color: $pinky;
}

#aporte-03 {
  background-color: $rubio;
}

#aporte-04 {
  background-color: $celestino;
  span.txt-rogelio {
    text-transform: uppercase;
  }
}

#aporte-06 {
  background-color: $rogelio;
}