$celestino : #73c4cd;
$rogelio : #ee4538;
$rubio : #fab01c;

#aporte-01 {
  background-color: #171c36;
}

span.txt-celestino {
  color: $celestino;
}

span.txt-rogelio {
  color: $rogelio;
}

span.txt-rubio {
  color: $rubio;
}