$celestino : #73c4cd;
$rogelio : #ee4538;
$rubio : #fab01c;
$pinky: #d33170;

#aporte-01 {
  background-color: #171c36;
}

span.txt-celestino {
  color: $celestino;
}

span.txt-rogelio {
  color: $rogelio;
}

span.txt-rubio {
  color: $rubio;
}

#aporte-02 {
  background-color: $pinky;
}

#aporte-03 {
  background-color: $rubio;
  h3, p {
    color: #FFFFFF;
  }
}

#aporte-06 {
  background-color: $rogelio;
  h3, h4, p, table {
    color: #FFFFFF;
  }
  table {
    margin: -1px;
  }
}